body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 20px;
}

h1.message {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 3rem;
  transform: rotate(0deg);
}

h2 {
  padding: 20px 0;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding-top: 18px;
  height: 30px;
  font-weight: bold;
}

a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
  margin: 0 5px;
  padding: 5px;
}

a.animated:after {
  background: none repeat scroll 0 0 transparent;
  top: 25px;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  background: navy;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  z-index: -1;
}

a:hover:after {
  width: 110%;
  left: -20%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  height: 60px;
  background-color: white;
  border: 1px solid grey;
  display: block;
  width: 100%;
}

.input-field {
  height: 50px;
  border: 1px solid grey;
}

label {
  margin: 30px 0px 5px 0px;
}

.radio-button {
  margin: 10px 10px 25px 0px;
}

input[type='submit'] {
  border-radius: 20px;
  height: 40px;
  width: 200px;
  text-align: center;
  border: none;
  margin: 20px auto;
}
p.login {
  text-align: center;
}
